@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/**********************/

/**

#7C444F - rgb(124, 68, 79)
#9F5255 - rgb(159, 82, 85)
#E16A54 - rgb(225, 106, 84)
#F39E60 - rgb(243, 158, 96)

**/

body {
    display: flex;
    height: 100vh;
    font-family: "Libertinus Serif", serif;
}

#sidebar {
    flex-basis: 115px;
    flex-grow: 0;
    flex-shrink: 0;

    background-color: #7C444F;
}

#menu {
    height: 100%;
    padding: 30px 0 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#menu-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-icons {
    fill: white;
    width: 35px;
}

#content {
    flex-grow: 1;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title>h1 {
    align-self: flex-start;
    border-bottom: 4px solid #F39E60;
    padding: 0 20px 5px 0;
    color: #505050;
    font-weight: 400;
}

#add-button {
    background-color: #F39E60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    padding: 5px 0 5px 0;
    border: none;
    border-radius: 40px;
}

#add-button,
form>button {
    box-shadow: 0 0 10px 0 #d1d1d1;
    transition: ease 0.5s;
}

#add-button:hover,
form>button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #959595;
    transition: ease 0.5s;
}

#add-icon {
    fill: white;
    width: 35px;
}

#books-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    gap: 30px;
}

.book-card {
    display: flex;
    padding: 5px;
    box-shadow: 0px 0px 15px -10px black;
    transition: ease 0.5s;
}

.book-card:hover {
    box-shadow: 0px 0px 20px -10px black;
    transition: ease 0.5s;
}

.book-card>div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 15px;
    padding: 0px 25px 0px 25px;
    flex: 1;
    align-self: center;
}

.book-card>div>h2 {
    font-weight: 600;
}

.delete-button {
    flex-basis: 15px;
    fill: #F39E60;
    align-self: flex-start;
    transition: ease 0.5s;
}

.delete-button:hover {
    cursor: pointer;
    fill: #7C444F;
    transition: ease 0.5s;
}

.book-read {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.is-read-button {
    background-color: white;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    flex-basis: 45px;
    font-family: "Libertinus Serif", serif;
    font-size: 1em;
}

.is-read-button:hover {
    cursor: pointer;
}

.read {
    color: #27ae60;
    border-color: #27ae60;
    box-shadow: 0 3px #27ae60;
}

.read:active {
    box-shadow: 0 1px #27ae60;
    transform: translateY(2px);
}

.not-read {
    color: #e74c3c;
    border-color: #e74c3c;
    box-shadow: 0 3px #e74c3c;
}

.not-read:active {
    box-shadow: 0 1px #e74c3c;
    transform: translateY(2px);
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 0;
}

dialog>div {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
    font-size: 1.5em;
}

#close {
    width: 25px;
    fill: #F39E60;
    transition: ease 0.5s;
}

#close:hover {
    cursor: pointer;
    fill: #7C444F;
    transition: ease 0.5s;
}

::backdrop {
    backdrop-filter: blur(3px);
}

form {
    display: grid;
    grid-template-columns: 190px 350px;
    gap: 20px;
    padding: 60px 40px 60px 40px;
    align-items: center;
}

input[type="text"],
input[type="number"] {
    font-size: 1em;
    font-family: "Libertinus Serif", serif;
    padding: 10px 20px 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 25px;
    color: #4e4e4e;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    color: #7C444F;
    border-color: #7C444F;
    box-shadow: 0 0 10px 0 #d1d1d1;
    transition: ease 0.5s;
}

form>div {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

form>button {
    grid-column: 1 / 3;
    width: 150px;
    justify-self: center;
    background-color: #F39E60;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 0 5px 0;
}