@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/**********************/

/**

#7C444F - rgb(124, 68, 79)
#9F5255 - rgb(159, 82, 85)
#E16A54 - rgb(225, 106, 84)
#F39E60 - rgb(243, 158, 96)

**/

body {
    display: flex;
    height: 100vh;
}

#sidebar {
    flex-basis: 115px;
    flex-grow: 0;
    flex-shrink: 0;

    background-color: #7C444F;
}

#menu {
    height: 100%;
    padding: 30px 0 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#menu-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-icons {
    fill: white;
    width: 35px;
}

#content {
    flex-grow: 1;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title > h1 {
    align-self: flex-start;
    border-bottom: 4px solid #F39E60;
    padding: 0 20px 5px 0;
    color: #505050;
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
}

#title > button {
    background-color: #F39E60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    padding: 5px 0 5px 0;
    border: none;
    border-radius: 40px;
}

#title > button:hover {
    box-shadow: 0 0 10px 0 #959595;
}

#add-icon {
    fill: white;
    width: 35px;
}