*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/**********************/

/**

#7C444F - rgb(124, 68, 79)
#9F5255 - rgb(159, 82, 85)
#E16A54 - rgb(225, 106, 84)
#F39E60 - rgb(243, 158, 96)

**/

body {
    display: flex;
    height: 100vh;
}

#sidebar {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}

#content {
    flex-grow: 1;
}